examples/AFYA Globals Examples.json
[
    {
        "id": "1",
        "type": "tab",
        "label": "AFYA Globals Examples",
        "disabled": false,
        "info": ""
    },
    {
        "id": "example1",
        "type": "inject",
        "z": "1",
        "name": "Set global string",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "globals1"
            ]
        ]
    },
    {
        "id": "globals1",
        "type": "AFYA-globals",
        "z": "1",
        "name": "",
        "globalVariableName": "greeting",
        "globalVariableScope": "global",
        "globalVariableType": "str",
        "globalVariableValue": "Hello World",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "debug1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "1",
        "name": "Debug String",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "example2",
        "type": "inject",
        "z": "1",
        "name": "Set global integer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "42",
        "payloadType": "num",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "globals2"
            ]
        ]
    },
    {
        "id": "globals2",
        "type": "AFYA-globals",
        "z": "1",
        "name": "",
        "globalVariableName": "answer",
        "globalVariableScope": "global",
        "globalVariableType": "int",
        "globalVariableValue": "42",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "debug2"
            ]
        ]
    },
    {
        "id": "debug2",
        "type": "debug",
        "z": "1",
        "name": "Debug Integer",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "example3",
        "type": "inject",
        "z": "1",
        "name": "Set global float",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3.14",
        "payloadType": "num",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "globals3"
            ]
        ]
    },
    {
        "id": "globals3",
        "type": "AFYA-globals",
        "z": "1",
        "name": "",
        "globalVariableName": "pi",
        "globalVariableScope": "global",
        "globalVariableType": "float",
        "globalVariableValue": "3,14",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "debug3"
            ]
        ]
    },
    {
        "id": "debug3",
        "type": "debug",
        "z": "1",
        "name": "Debug Float",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "example4",
        "type": "inject",
        "z": "1",
        "name": "Set global boolean",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "globals4"
            ]
        ]
    },
    {
        "id": "globals4",
        "type": "AFYA-globals",
        "z": "1",
        "name": "",
        "globalVariableName": "is_active",
        "globalVariableScope": "global",
        "globalVariableType": "bool",
        "globalVariableValue": "1",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "debug4"
            ]
        ]
    },
    {
        "id": "debug4",
        "type": "debug",
        "z": "1",
        "name": "Debug Boolean",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "example5",
        "type": "inject",
        "z": "1",
        "name": "Set global JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\": \"John\", \"age\": 30}",
        "payloadType": "json",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "globals5"
            ]
        ]
    },
    {
        "id": "globals5",
        "type": "AFYA-globals",
        "z": "1",
        "name": "Global JSON",
        "globalVariableName": "user_info",
        "globalVariableScope": "global",
        "globalVariableType": "JSON",
        "globalVariableValue": "{\"name\": \"John\", \"age\": 30}",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "debug5"
            ]
        ]
    },
    {
        "id": "debug5",
        "type": "debug",
        "z": "1",
        "name": "Debug JSON",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 630,
        "y": 300,
        "wires": []
    }
]